@tailwind base;
@tailwind components;
@tailwind utilities;

.vue-scheduler {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.event-item {
  user-select: none;
}
